{{extend 'layout.html'}}
<style type="text/css">
table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
}
table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}
  </style>
<div class="table-responsive">
<table align="center" border=1 cellspacing=0 class="table">
<thead>
<tr>
<td>
Nombre
</td>
<td>
Rut
</td>
<td>
Curso
</td>
<td>
Diagnostico
</td>
<td>
Detalle
</td>
<td>
Editar
</td>
<td>
Crear registro
</td>
</tr>
</thead>
<tbody>
{{for alumno in lista:}}
<tr>
<td>
{{=alumno.nombre}}  
</td>
<td>
{{=alumno.rut}}  
</td>
<td>
{{=alumno.curso.nombre}}  
</td>
<td>
{{for numero in alumno.diagnostico:}}
{{usuario=db(db.diagnostico.id==numero).select().first()}}
{{imprimir= usuario.nombre}}
{{=imprimir}}
{{pass}}
</td>

<td>
{{=A("Detalles", _href=URL('alumnos','show', args=alumno.id))}}
</td>
<td>
{{=A("Editar", _href=URL('alumnos','editar', args=alumno.id))}}
</td>
<td>
{{=A("Crear Registro", _href=URL('alumnos','insertar_reporte', args=alumno.id))}}
</td>
</tr>
</tbody>
{{pass}}
</table>
</div>
